@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans&display=swap');

body {
  background: image_url('bg.png');
  font-family: 'Open Sans', sans-serif;
}

a {
  color: white;
}

.invalid-feeback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}
